.mainPage {
  width: 100%;
  height: 6300px;
  background-color: black;
  display: flex;
  flex-direction: column;
}


.mainPage .main__bg {
  width: 100%;
  height: 1280px;
  background-image: url("../assets/4leaf_main_bg.jpg");
  background-size: cover;
}

.mainPage .comInfo {

  display: flex;
  flex-direction: row;
}
.mainPage .comInfo .comInfo__img{
  width: 600px;
  height: 400px;
  background-image: url("../assets/4leaf_main_Info.jpg");
  background-size: cover;

  margin-top: 900px;
  margin-left: 200px;
}

.mainPage .comInfo .comInfo__desc {
  width: 60%;
  height: 400px;
  color: #ffffff;
  margin-top: 900px;
  margin-left: 200px;
}